body {
  margin: 0;
}
.flipbook-page {
  text-align: center;
  background-color: #eeeeee;
}
.flipbook-page.hard {
  background-color: #cccccc;
}
.flipbook-page {
  background-size: contain;
  background-repeat: no-repeat;
}
.flipbook-page.verso {
  background-image: url("../img/Monsters_Page_L.jpg");
}
.flipbook-page.recto {
  background-image: url("../img/Monsters_Page_R.jpg");
}

.flipbook-page.back {
  background-image: url("../img/Monsters_Cover_Back.jpg");
}
.flipbook-page.back.inner {
  background-image: url("../img/Monsters_Cover_Back_Inside.jpg");
}

.flipbook-page.front {
  background-image: url("../img/Monsters_Cover_Front.jpg");
}
.flipbook-page.front.inner {
  background-image: url("../img/Monsters_Cover_Front_Inside.jpg");
}
.book-area {
  padding: 20px;
}

.flipbook-page .page-wrapper {
  padding: 50px 0;
}

.flipbook-page.verso .page-wrapper {
  padding-left: 60px;
  padding-right: 10px;
}

.flipbook-page.recto .page-wrapper {
  padding-left: 10px;
  padding-right: 60px;
}
